<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.atguigu.mybatis.mapper.DeptMapper">
	
	<resultMap type="com.atguigu.mybatis.entities.Dept" id="DeptResultMap">
		<id property="id" column="id"/>
		<result property="deptName" column="deptName"/>
		<result property="locAdd" column="locAdd"/>
		<collection property="emps" ofType="com.atguigu.mybatis.entities.Emp" column="id" select="com.atguigu.mybatis.mapper.EmpMapper.getEmpByDeptId"/>
	</resultMap>
	<select id="getDeptById" parameterType="Integer" resultMap="DeptResultMap">
		select * from tbl_dept where id=#{id}
	</select>

</mapper>